<div class="features-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">ngDiplomacy (logo)</h2>
        <blockquote class="blockquote">
          <p>"Luck plays no part in Diplomacy. Cunning and cleverness, honesty and perfectly-timed betrayal are the tools needed to outwit your fellow players. The most skillful negotiator will climb to victory over the backs of both enemies and friends.</p>

          <p>Who do you trust?"</p>

          <footer class="blockquote-footer">Avalon Hill</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
