<div class="wrapper">
  <div class="page-header header-filter">
    <div class="page-header-image" style="background-image: url('assets/img/background.jpg');"></div>
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <h1 class="title">ngDiplomacy</h1>
            <h4 class="description">A modern rewrite of the original WebDiplomacy by kestasjk</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <h2 class="title">Objective</h2>
          <h4 class="description">Diplomacy is a game which is easy to learn but impossible to master. The rules are all very intuitive, lots of people pick them up just by playing, but this document will familiarize you more quickly.</h4>
          <h4 class="description">The objective of Diplomacy is to be the first to get 18 supply centers. For each supply center you occupy you get a new unit, and you lose a unit whenever a supply center you own gets occupied by someone else.</h4>
          <h4 class="description">You can recognize the supply centers with the markers which are placed on them.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <h2 class="title">Units</h2>
          <h4 class="description">There are two types of units, both equally important.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="info info-hover">
            <!--<div class="icon icon-primary">-->
              <!--<i class="now-ui-icons ui-2_chat-round"></i>-->
            <!--</div>-->
            <h4 class="info-title">Army</h4>
            <p class="description">This unit can only move on land, or be convoyed across bodies of water by Fleets.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info info-hover">
            <!--<div class="icon icon-success">-->
              <!--<i class="now-ui-icons business_chart-pie-36"></i>-->
            <!--</div>-->
            <h4 class="info-title">Fleet</h4>
            <p class="description">This unit can only move in the sea, and in coastal territories. It can also convoy armies across sea territories using the convoy move.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
